.icon {
  background-repeat: no-repeat;
}

.icon-size-64 {
  height: 64px;
  width: 64px;
  background-size: 64px;
}

.icon-deathknight {
  background-image: url(images/icon-deathknight.png);
}
.icon-demonhunter {
  background-image: url(images/icon-demonhunter.png);
}
.icon-druid {
  background-image: url(images/icon-druid.png);
}
.icon-hunter {
  background-image: url(images/icon-hunter.png);
}
.icon-mage {
  background-image: url(images/icon-mage.png);
}
.icon-monk {
  background-image: url(images/icon-monk.png);
}
.icon-paladin {
  background-image: url(images/icon-paladin.png);
}
.icon-priest {
  background-image: url(images/icon-priest.png);
}
.icon-rogue {
  background-image: url(images/icon-rogue.png);
}
.icon-shaman {
  background-image: url(images/icon-shaman.png);
}
.icon-warlock {
  background-image: url(images/icon-warlock.png);
}
.icon-warrior {
  background-image: url(images/icon-warrior.png);
}
