.progress {
  &::-webkit-progress-bar {
    background-color: #b52e31;
  }
  &::-webkit-progress-value {
    background-color: #b52e31;
  }
  &::-moz-progress-bar {
    background-color: #b52e31;
  }
  border: none;
}

.percentage {
   position: absolute;
   text-align: center;
   width: 100%;
}
.progress {
    position: relative;
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: #f14668;
  .progress-bar {
    text-align: center;
    vertical-align: middle;
    background-color: #48c774;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.columns {
  margin-bottom: 0 !important;
  .column {
    padding: 0.75rem 0.75rem 0.25rem 0.75rem;
  }
}
