.percentage {
  position: absolute;
  text-align: center;
  vertical-align: text-top;
  width: 100%;
  font-size: .7rem;
  font-weight: bold;
}
.progress {
  position: relative;
  width: 400px;
  height: 1rem;
  padding: 0;
  background-color: #f14668;
  .progress-bar {
    background-color: #48c774;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.tag {
  font-size: 12px;
  font-weight: bolder;
  height: 1rem !important;
  margin: 0 0.5em 0 0 !important;
}