.dropdown {
    width: 90%;
    margin: 10px !important;
    .label {
        height: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

