.character {
  flex: 1;
  margin-left: 5px;
}
.character-info {
  flex: 1;
}

.character-name {
  font-size: 12px;
   width: 50px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character-item-level {
  font-weight: bold;
  padding-left: 10px;
}
