.character-detail {
   font-size: 12px;
  .character-info-text {
    span {
      margin-right: 1px;
    }
  }

  .character-name {
    font-weight: bold;
    
  }
  .character-title {
    border-right: solid 1px white;
    max-width: 150px;
    min-width: 150px;
    > div {
      min-height: .75rem;
      padding-left: .25rem;;
    }
  }

  .character-info {
    padding-left: 1rem;
  }

  display: flex;
}
