$react: #00b3e6;
$react-light: #61dafb;
$primary: $react;
$primary-light: $react-light;
$link: $primary; // #00b3e6; // #ff4081;

$shade-light: #fafafa;

@import 'bulma/bulma.sass';

.menu-list .active-link,
.menu-list .router-link-active {
  color: #fff;
  background-color: $link;
}

.not-found {
  i {
    font-size: 20px;
    margin-right: 8px;
  }
  .title {
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
  }
}

header {
  font-weight: bold;
  font-family: Arial;
  nav {
    max-height: 50px;
    padding: 10px;
    img {
      max-height: 30px;
    }
  }

  span {
    letter-spacing: 0px;
    &.brand-first {
      color: #fff;
    }
    &.brand-second {
      color: #ccc;
    }
    &.brand-third {
      color: $primary-light;
    }
  }
  .navbar-item.nav-home {
    border: 3px solid transparent;
    border-radius: 0%;
    &:hover {
      border-right: 3px solid $primary-light;
      border-left: 3px solid $primary-light;
    }
  }
  .fab {
    font-size: 24px;
    &.js-logo {
      color: $primary-light;
    }
  }
  .buttons {
    i.fab {
      color: #fff;
      margin-left: 20px;
      margin-right: 10px;
      &:hover {
        color: $primary-light;
      }
    }
  }
}

.edit-detail {
  .input[readonly] {
    background-color: $shade-light;
  }
  .input::placeholder {
    color: #ccc;
    font-style: italic;
  }
}

.content-title-group {
  margin-bottom: 16px;
  h2 {
    border-left: 16px solid $primary;
    border-bottom: 2px solid $primary;
    padding-left: 8px;
    padding-right: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 0px;
    &:hover {
      color: $link;
    }
  }
  button.button {
    border: 0;
    color: #999;
    &:hover {
      color: $link;
    }
  }
}

.rank-text {
  font-size: 1.25rem;
  text-align: center;
}

.tag {
  margin: 0 5px 5px 0;
}





.color-deathknight {
  color: #c41f3b;
}
.color-demonhunter {
  color: #a330c9;
}
.color-druid {
  color: #ff7d0a;
}
.color-hunter {
  color: #abd473;
}
.color-mage {
  color: #69ccf0;
}
.color-monk {
  color: #00ff96;
}
.color-paladin {
  color: #f58cba;
}
.color-priest {
  color: #ffffff;
}
.color-rogue {
  color: #fff569;
}
.color-shaman {
  color: #0070de;
}
.color-warlock {
  color: #9482c9;
}
.color-warrior {
  color: #c79c6e;
}



table.table {
  box-shadow: none;
  background-color: inherit;
  color: white;
  thead {
    th {
      color: white;
    }
  }
  tr {
    th,
    td {
      &.rank {
        width: 50px;
        vertical-align: middle;
      }
      &.name {
        padding: 15px;
        width: 350px;
        padding-top: 20px;
      }
      &.arena-progress {
        padding-top: 20px;
      }
      &.rating {
        width: 50px;
        vertical-align: middle;
        padding-top: 20px;
      }
    }

    color: white;
    background-color: #363636;
    margin-bottom: 10px;
    padding: 10px;
  }
}
