.color-deathknight {
  color: #c41f3b;
}
.color-demonhunter {
  color: #a330c9;
}
.color-druid {
  color: #ff7d0a;
}
.color-hunter {
  color: #abd473;
}
.color-mage {
  color: #69ccf0;
}
.color-monk {
  color: #00ff96;
}
.color-paladin {
  color: #f58cba;
}
.color-priest {
  color: #ffffff;
}
.color-rogue {
  color: #fff569;
}
.color-shaman {
  color: #0070de;
}
.color-warlock {
  color: #9482c9;
}
.color-warrior {
  color: #c79c6e;
}

table.table {
  width: fit-content;
  box-shadow: none;
  background-color: inherit;
  color: white;
  thead {
    th {
      color: white;
    }
  }
  tr {
    th,
    td {
      &.rank {
        width: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bolder;
      }
      &.name {
        padding: 15px;
        width: 500px;
      }
      &.arena-progress {
        min-width: 100px;
      }
      &.rating {
        width: 50px;
        vertical-align: middle;
      }
    }

    color: white;
    background-color: #323233 !important;
  }
}

.right-side-bar {
  color: white;
}

.has-background-dark {
  background-color: #323233 !important;
}
