@charset "utf-8";

$bg: #111;
$fg: #f2f3ef;
$dracula-selected: #44475a;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #91918d;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

$link: lighten($bg, 10%);

// Update Bulma's global variables
// read more: https://bulma.io/documentation/customize/variables/
$primary: lighten($bg, 25%);

$link-hover: darken($link, 25%);
$link-hover-border: lighten($link, 5%);
$link-focus: darken($link, 25%);
$link-focus-border: lighten($link, 25%);
$link-active: darken($link, 25%);
$link-active-border: lighten($link, 55%);

$border: lighten($bg, 10%);

$info: $dracula-cyan;
$success: $dracula-green;
$warning: $dracula-yellow;
$danger: $dracula-red;
$dark: $dracula-selected;
$grey: $fg;

$text: $fg;
$text-light: lighten($fg, 5%);
$text-strong: darken($fg, 5%);

$background: $bg;

$green-invert: $bg;
$success-invert: $bg;

// Update some of Bulma's component variables
$title-color: $fg;
$subtitle-color: $fg;
$subtitle-strong-color: darken($fg, 5%);

$body-background-color: $bg;
$footer-background-color: $bg;

$code-background: $dracula-selected;
$label-color: $fg;
$card-color: $bg;

$table-background-color: lighten($bg, 10%);
$table-color: $fg;
$table-striped-row-even-background-color: lighten($bg, 5%);
$table-cell-border: $bg;
$table-head-cell-color: $fg;

$color-dark-horde: #2a1a1a !important;
$color-dark-alliance: #1a2027 !important;

$color-light-horde: #e02929 !important;
$color-light-alliance: #69f !important;

@import "bulma/bulma.sass";

%brand {
  font-size: 2rem;
}

.media-content.character-name {
  flex-grow: 0;
  padding-right: 1em;
}

.media-content.character-info {
  flex-grow: 0;
  padding-left: 1em;
}

.has-right-border {
  border-right: solid 1px whitesmoke;
}

.progress.is-pvp-rating::-webkit-progress-bar {
  background-color: $danger;
}

.progress.is-pvp-rating::-webkit-progress-value {
  background-color: $success;
}
.color-deathknight {
  color: #c41f3b;
}
.color-demonhunter {
  color: #a330c9;
}
.color-druid {
  color: #ff7d0a;
}
.color-hunter {
  color: #abd473;
}
.color-mage {
  color: #69ccf0;
}
.color-monk {
  color: #00ff96;
}
.color-paladin {
  color: #f58cba;
}
.color-priest {
  color: #ffffff;
}
.color-rogue {
  color: #fff569;
}
.color-shaman {
  color: #0070de;
}
.color-warlock {
  color: #9482c9;
}
.color-warrior {
  color: #c79c6e;
}

.has-background-horde-color {
  background-color: $color-dark-horde;
}

.has-background-alliance-color {
  background-color: $color-dark-alliance;
}

tr.faction-horde:hover {
  background-color: $color-dark-horde;
}

tr.faction-alliance:hover {
  background-color: $color-dark-alliance;
}

header {
  font-weight: bold;
  font-family: Arial;
  span {
    letter-spacing: 0px;
    &.brand-red {
      @extend %brand;
      color: $color-light-horde;
    }
    &.brand-blue {
      @extend %brand;
      color: $color-light-alliance;
    }

    &.brand-white {
      @extend %brand;
      color: white;
    }
  }
}
