@charset "utf-8";
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $beige-light;
// Update some of Bulma's component variables
$body-background-color: black;
$body-color: $beige-lighter;

$table-background-color: #353535;
$table-color: #ffffff;
$table-striped-row-even-background-color: #2b2b2b;
$table-cell-border: 2px solid #1a1716;
$table-head-cell-color: #ffffff;

@import "bulma/bulma.sass";

$color-horde: #2a1a1a !important;
$color-alliance: #1a2027 !important;

%brand {
  font-size: 2rem;
}

.media-content.character-name {
  flex-grow: 0;
  padding-right: 1em;
}

.media-content.character-info {
  flex-grow: 0;
  padding-left: 1em;
}

.has-right-border {
  border-right: solid 1px whitesmoke;
}

.progress.is-pvp-rating::-webkit-progress-bar {
  background-color: $danger;
}

.progress.is-pvp-rating::-webkit-progress-value {
  background-color: $success;
}
.color-deathknight {
  color: #c41f3b;
}
.color-demonhunter {
  color: #a330c9;
}
.color-druid {
  color: #ff7d0a;
}
.color-hunter {
  color: #abd473;
}
.color-mage {
  color: #69ccf0;
}
.color-monk {
  color: #00ff96;
}
.color-paladin {
  color: #f58cba;
}
.color-priest {
  color: #ffffff;
}
.color-rogue {
  color: #fff569;
}
.color-shaman {
  color: #0070de;
}
.color-warlock {
  color: #9482c9;
}
.color-warrior {
  color: #c79c6e;
}

.has-background-horde-color {
  background-color: $color-horde;
}

.has-background-alliance-color {
  background-color: $color-alliance;
}

tr.faction-horde:hover {
  background-color: $color-horde;
}

tr.faction-alliance:hover {
  background-color: $color-alliance;
}

header {
  font-weight: bold;
  font-family: Arial;
  span {
    letter-spacing: 0px;
    &.brand-red {
      @extend %brand;
      color: $color-horde;
    }
    &.brand-blue {
      @extend %brand;
      color: $color-alliance;
    }

    &.brand-white {
      @extend %brand;
      color: white;
    }
  }
}
